html{
    height : 100%;
}

#header{
    background-color: DodgerBlue;
    z-index: 1000;
}

.container{
    margin-bottom:10vh;
}

.logo{
    width : 10vw;
    margin-right : 2vw;
}

.login{
    color : black;
    text-decoration: none;
    font-family: "Poor Story", system-ui;
    font-weight: bold;
    font-style: normal;
    margin-right:1vw;
}

.login > img{
    width:2vw;
    margin-right:0.5vw;
}

.login:hover{
    color : white;
}

.mydd{
    display : none;
}

.dmenu{
    width:5vw;
}

.back{
    display: none;
    width:5vw;
    height: 2vh;
}

.header-font{
    font-family: "Gasoek One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size : 2.5rem;
}

.header-font > a{
    color : black;
    text-decoration: none;
}

#wrap{
    padding-top: 25vh;
    width:100%;
    min-height:100%;
    position:relative;
    padding-bottom: 20vh;
}

.main-left, .main-right{
    height:30vh;
}

.main-left:hover{
    background-color: #F0F8FF;
}

.leftimg{
    width : 5vw;
}

.main-right:hover{
    background-color: #F0F8FF;
}

.rightimg{
    width : 7vw;
}

.div1{
    width:100%;
    height:100%;
    overflow:hidden;
    text-align:center
}

.div1:hover{
    opacity: 0.4;
}

.typeimg{
    width : 4vw;
    height : 3vh;
}

.pokemonimg_9{
    width : 40vw;
    height : 20vh;
    margin : 0 auto;
}

.div_else{
    height:20vh;
    vertical-align: middle;
}

.card_body{
    padding : 5px;
    text-align: center;
}

.div2{
    padding-top:15px;
    background-color:LightCyan;
    margin-bottom:10px
}

.div3{
    background-color:LightCyan;
    margin-bottom:10px
}

.div2:hover, .div3:hover{
    background-color: PaleTurquoise;
}

.pokemonimg{
    object-fit: contain;
    margin : 0 auto;
}

.region-div{
    height : 20vh;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size : 3.8vw;
    margin-bottom: 3vh;
}

.region_name, .poke_num, .no, .name{
    width:100%;
    height:50%;
}

.region_name{
    background-color: #2B394B;
    color:white;
}
.poke_num{
    background-color: #EDE9D7;
}

.no{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size : 2vw;
}

.name{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 1.8vw;
}

.middle_div{
    height:10vh;
}

.type_div{
    height:5vh;
}

.page_name{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:CornflowerBlue;
    font-size:25pt;
    font-weight:bold;
    margin-bottom:20px
}

.b{
    width:50px;
    height: 50px;
    background-size: cover;
    background-color: mediumspringgreen;
}

@media  screen and (max-width:768px) {
    .back{
        display : block;
        width:2vw;
        height: 2vh;
    }
    .header-font{
        font-size : 1.5rem;
    }
    .region-div{
        height : 15vh;
        font-family: "Poor Story", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size : 4vw;
        margin-bottom: 5vh;
        vertical-align: middle;
    }

    .typeimg{
        width:4vw;
    }

    .gmax_img{
        width:15vw;
    }

    .b{
        width:30px;
        height: 30px;
    }
}

@media screen and (max-width:425px) {
    .null-div{
        display:none;
    }
    .login{
        display:none;
    }
    .mydd{
        display:block;
    }
    .back{
        width:5vw;
        height: 2vh;
    }
    .logo{
        width : 30vw;
    }
    .leftimg{
        width : 10vw;
    }
    .rightimg{
        width : 12vw;
    }
    .region-div{
        height:10vh;
        font-size:6vw;
    }
    .middle_div{
        height:10vh;
    }
    .no{
        font-size:1rem;
    }
    .name{
        font-size: 0.9rem;
    }
    .g_name{
        font-size:0.7rem;
    }
    .type_div{
        height:5vh;
    }
    .typeimg{
        width:10vw;
        height:3vh;
    }
    .gmax_img{
        width:30vw;
    }
    .div_else{
        height:20vh
    }
}

.allfooter{
    position:absolute;
    bottom:0;
    width:100%;
    height : 20vh;
    background-color: black;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.sns{
    color:white;
    font-size:1rem;
}

.none{
    height:100px;
    font-size:1.3rem;
    background-color: lightgray;
    margin-bottom: 10vh;
}

#tb{
    display:none;
    position:fixed;
    z-index: 9999;
    bottom:40px;
    right:20px;
}