.header{
    height : 20vh;
    text-align : center;
    margin-bottom : 25px;
}

.logo{
    width : 25vw;
    height : 15vh;
}

.header-font{
    font-family: "Gasoek One", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size : 7vw;
}

@media  screen and (max-width:767px) {
    .logo{
        width : 25vw;
        height : 15vh;
    }

    .header-font{
        font-family: "Gasoek One", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size : 9vw;
    }

    .region-div{
        /*background-color: #2B394B;*/
        height : 15vh;
        font-family: "Poor Story", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size : 4vw;
        margin-bottom: 5vh;
        vertical-align: middle;
        border: 1px solid black
    }

    .typeimg{
        width : 10vw;
        height : 25px;
    }
}

.header-font > a{
    color : black;
    text-decoration: none;
}

#wrap{
    width:100%;
}

.typeimg{
    width : 5vw;
    height : 25px;
}

.pokemonimg_9{
    width : 150px;
    height : 150px;
    margin : 0 auto;
}

.div_else{
    height:150px;
    vertical-align: middle;
}

.card_body{
    padding : 5px;
    text-align: center;
}

.pokemonimg{
    object-fit: contain;
    margin : 0 auto;
}

.region-div{
    /*background-color: #2B394B;*/
    height : 20vh;
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size : 4vw;
    margin-bottom: 5vh;
    vertical-align: middle;
    border: 1px solid black
}

.no{
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size : 2vw;
}

.name{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size : 2vw;
}

.page_name{
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:CornflowerBlue;
    font-size:25pt;
    font-weight:bold;
    margin-bottom:20px
}