.bag-con{
    width : 50%;
}

.bagtbl{
    width:100%;
    text-align : center;
}

@media screen and (max-width:768px) {
    .bag-con{
        width : 100%;
        margin-right:0;
        margin-left:0;
    }
}